footer {
  background-color: var(--light-tertiary-color);
  color: var(--text-color);
}

footer .footer__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
}

footer .footer__content .footer__contact span {
  display: block;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}

footer .footer__content ul li {
  display: inline-block;
  margin: 2rem 1rem;
  transition: all 0.4s;
  border-radius: 4px;
}

footer .footer__content ul a {
  display: inline-block;
  padding: 1rem;
  transition: all 0.4s;
  border-radius: 4px;
}

footer .footer__content .footer__copyright {
  font-size: 1.2rem;
  margin-top: 3rem;  
}
